@import 'https://fonts.googleapis.com/css?family=Exo+2';
body, html {
    margin: auto;
    padding: 0px;
}

a:link {
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    color:#404040;
    font-size: 22px;
}

a:hover {
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    color:#43A047;
    font-size: 22px;
}

input {
    height: 32px;
    border: 1px solid #808080;
    border-radius: 2px;
    background-color: #F9F9F9;
    padding-left: 8px;
}

select {
    height: 32px;
    border: 1px solid #808080;
    border-radius: 2px;
    background-color: #F9F9F9;
    padding-left: 8px;
}